body {
    padding-top: 50px;
}

label[for=coordonnes] {
    width: 15%;
    margin-bottom: 10px;
}

input[type=text], input[type=date], input[type=number], select {
    float:right;
    width: 85%;
    margin-bottom: 10px;
    padding-left: 5px;
}

.fiscalite-input[type=text] {
    float:left;
    /*width: 85%;*/
}

label[for=civilite] {
    width: 15%;
    
}

form {
    padding-bottom: 80px;
}

h3, h4 {
    padding-bottom: 15px;
}

select {
    height: 26px;
    width: 85%;
}

/*.fiscalite {
    /*display: inline-block;*/
    /*width: 100%; 
    margin: auto;
}*/

.fiscalite-vous {
    width: 49%; 
    float: left;
    padding: 10px;
}

.fiscalite-conjoint {
    width: 49%;
    float: right;
    padding: 10px;
}

.fiscalite-declaration-left {
    width: 49%; 
    float: left;
    padding: 10px;
    border-right: 1px black solid;
}

.fiscalite-declaration-right {
    width: 49%;
    float: right;
    padding: 10px;
    
}


